body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

main {
    padding: 30px;
}

.container {
    background-color: white;
    max-width: 400px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005dc1;
}

.messages {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.menu-btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 12px 18px;
    margin: 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.menu-btn:hover {
    background-color: #005dc1;
}

.logout-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: darkred;
}
