{% load static %}  {# necessário para usar arquivos estáticos #}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema de Estoque{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'usuarios/style.css' %}">
</head>
<body>

    <header>
        <h2>Sistema de Gestão de Estoque</h2>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Desenvolvido por Bruna - SENAI 2025</p>
    </footer>

</body>
</html>
